<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="content" class="clearfix">
  <div class="careers-title">
    <li><%= image_tag 'careers.png' %>Careers</li>
  </div>
  <div class="careers clearfix">
    <div class="span3"><%= image_tag 'careers-team.png' %></div>
    <div class="span7">
      <div class="careers-arrow"></div>
      <div class="box-dialog">
        <p>
          We are always looking for hard working
          <span style="color:#6184D0;">passionate people to add to our team. </span></br>
          If you’re interested get in touch.
        </p>
      </div>
    </div>
  </div>
  <div class="careers-work clearfix">
    <h2>Why you’d want to work with us?</h2>
    <div class="container-boxes">
      <div class="careers-box">
        <h3 class="color-bluegrey">Open and Transparent</h3>
        <div class="careers-box-left">
          <p>Honesty is king here and you can expect nothing less than the naked truth from us. </p>
        </div>
        <div class="careers-box-right"><%= image_tag 'team-leader.png' %></div>
      </div>
      <div class="careers-box">
        <h3 class="color-sky">What you think matters</h3>
        <div class="careers-box-left">
          <p>It there something you want to change about a product? Have a smarter or faster way of doing something?
            We love any contributions that you can give us.</p>
        </div>
        <div class="careers-box-right"><%= image_tag 'ideas-matter.png' %></div>
      </div>
      <div class="careers-box">
        <h3 style="margin-bottom:17px"class="color-cian">Fun place, Awesome people</h3>
        <div class="careers-box-left">
          <p>Great piece to be at, relaxed and fun enviroment surrounded by amazing people. </p>
        </div>
        <div class="careers-box-right">
          <%= image_tag 'fun-place.png' %>
        </div>
      </div>
      <div class="careers-box">
        <h3 class="color-blue">Ideas are more than welcome</h3>
        <div class="careers-box-left">
          <p>Have a cool idea that you would like to do but can’t develop it by yourself? </br> Unvil team can make it happen. </p>
        </div>
        <div class="careers-box-right">
          <%= image_tag 'ideas.png' %>
        </div>
      </div>
      <div class="careers-box">
        <h3 class="color-violet">Flexibility at its finest</h3>
        <div class="careers-box-left">
          <p>You won’t find a more flexible schedule than here If you need to start working later, earlier, less or more hours. You can do that here and only here. </p>
        </div>
        <div class="careers-box-right">
          <%= image_tag 'time.png' %>
        </div>
      </div>
      <div class="careers-box">
        <h3 class="color-green">Expand your mind</h3>
        <div class="careers-box-left">
          <p>Work side by side with talented people to create new solutione. You'll never stop learning.</p>
        </div>
        <div class="careers-box-right">
          <%= image_tag 'expand-your-mind.png' %>
        </div>
      </div>
    </div>
  </div>
  <div id="content-wanted" class="clearfix">
    <div class="wanted ">
      <%= image_tag 'wanted.png' %>
    </div>
    <div id="jobs-container">
      <div class="postulate">
        <h3 class="title-sky">React Front-End Dev</h3>
        <ul class="job-list">
          <li><%= image_tag 'ok-blue.png', class: 'img-list' %>+2 years experience building SPAs</li>
          <li><%= image_tag 'ok-blue.png', class: 'img-list' %>+1 year experience working with React</li>
          <li><%= image_tag 'ok-blue.png', class: 'img-list' %>Node backend experience is a plus</li>
          <li><%= image_tag 'ok-blue.png', class: 'img-list' %>UX/UI experience also recommended</li>
        </ul>
      </div>
      <div class="postulate">
        <h3 class="title-violet">Full Stack MEAN Dev</h3>
        <ul class="job-list">
          <li><%= image_tag 'ok-vio.png', class: 'img-list' %>+2 years experience building SPAs</li>
          <li><%= image_tag 'ok-vio.png', class: 'img-list' %>Experience working with React is a plus</li>
          <li><%= image_tag 'ok-vio.png', class: 'img-list' %>Experience working with websockets</li>
        </ul>
      </div>
    </div>
  </div>
</div>
