<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="content" class="clearfix">

            <div class="careers-title">
                <li><%= image_tag 'careers.png' %>Carreras</li>
            </div>
            <div class="careers clearfix">
                <div class="span3">
                    <%= image_tag 'careers-team.png' %>
                </div>
                <div class="span7">
                    <div class="careers-arrow">
                    </div>
                    <div class="box-dialog">
                        <p>
                        Estamos buscando gente trabajadora
                        <span style="color:#6184D0;">y apasionada para agregar al equipo. </span></br>
                        Si te interesa, contactanos.</p>
                    </div>
                </div>
            </div><!-- careers -->




            <div class="careers-work clearfix">
                <h2>¿Querés trabajar con nosotros?</h2>

                <div class="container-boxes">
                    <div class="careers-box">
                        <h3 class="color-bluegrey">Abiertos y Transparentes</h3>
                        <div class="careers-box-left">
                            <p>La honestidad reina aquí. Siempre vas a estar informado de la total y completa verdad. </p>
                        </div>
                        <div class="careers-box-right">
                            <%= image_tag 'team-leader.png' %>
                        </div>
                    </div><!-- end careers-box -->

                    <div class="careers-box">
                        <h3 class="color-sky">Lo Que Pienses Importa</h3>
                        <div class="careers-box-left">
                            <p>Hay algo que queres cambiar de un producto? Tenes una mejor manera de hacer algo? Siempre apreciamos tus contribuciones. </p>
                        </div>
                        <div class="careers-box-right">
                          <%= image_tag 'ideas-matter.png' %>
                        </div>
                    </div><!-- end careers-box -->

                    <div class="careers-box">
                        <h3 style="margin-bottom:10px"class="color-cian">Compañeros Increibles</h3>
                        <div class="careers-box-left">
                            <p>Genial lugar para trabajar rodeado de talentosos diseñadores y programadores. </p>
                        </div>
                        <div class="careers-box-right">
                            <%= image_tag 'fun-place.png' %>
                        </div>
                    </div><!-- end careers-box -->

                    <div class="careers-box">
                        <h3 class="color-blue">Tua Ideas Son Bien Recibidas</h3>
                        <div class="careers-box-left">
                            <p>Tenes una idea increíble pero no la podés desarrollar por tu propia cuenta? </br> El equipo de Unvil puede ayudar. </p>
                        </div>
                        <div class="careers-box-right">
                            <%= image_tag 'ideas.png' %>
                        </div>
                    </div><!-- end careers-box -->

                    <div class="careers-box">
                        <h3 class="color-violet">Flexibilidad Total</h3>
                        <div class="careers-box-left">
                            <p>No vas a encontrar horarios mas flexibles que aquí. Si necesitas trabajar mas tarde, temprano, menos o mas horas. Lo puedes hacer aqui. </p>
                        </div>
                        <div class="careers-box-right">
                            <%= image_tag 'time.png' %>
                        </div>
                    </div><!-- end careers-box -->



                    <div class="careers-box">
                        <h3 class="color-green">Expande Tu Mente</h3>
                        <div class="careers-box-left">
                            <p>Trabaja al lado de gente talentosa para crear nuevas soluciones. Nunca dejaras de aprender.</p>
                        </div>
                        <div class="careers-box-right">
                            <%= image_tag 'expand-your-mind.png' %>
                        </div>
                    </div><!-- end careers-box -->
                </div><!-- end container-box -->
            </div><!-- end careers-work -->


            <div id="content-wanted" class="clearfix">
                <div class="wanted ">
                    <%= image_tag 'wanted.png' %>
                </div><!-- end wanted -->

                <div id="jobs-container">
                    <div class="postulate">
                        <h3 class="title-sky">React Front-End Dev</h3>
                        <ul class="job-list">

                            <li><%= image_tag 'ok-blue.png', class: 'img-list' %>+2 años experiencia con SPAs</li>
                            <li><%= image_tag 'ok-blue.png', class: 'img-list' %>+1 año de experiencia usando React</li>
                            <li><%= image_tag 'ok-blue.png', class: 'img-list' %>Experiencia con node backends</li>
                            <li><%= image_tag 'ok-blue.png', class: 'img-list' %>Conocimiento de UX/UI design</li>
                        </ul>
                    </div>
                    <div class="postulate">
                        <h3 class="title-violet">Full Stack MEAN Dev</h3>
                        <ul class="job-list">
                            <li><%= image_tag 'ok-vio.png', class: 'img-list' %>+2 años experiencia con SPAs</li>
                            <li><%= image_tag 'ok-vio.png', class: 'img-list' %>Experiencia trabajando con React opcional</li>
                            <li><%= image_tag 'ok-vio.png', class: 'img-list' %>Experiencia trabajando con websockets opcional</li>
                        </ul>
                    </div>
                </div>
            </div><!-- end content-wanted -->
        </div>



    <!--  Google Analytics Script -->
    <%= render 'layouts/analytics'  %>
